.list-cell {
    -fx-padding: 0px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 0px;
}

.list-view{
	fx-background-color: transparent;
}

.list-cell:filled {
    -fx-background-color: #0E1621;
    -fx-padding: 2px;
}

.list-cell:empty {
    -fx-background-color: #0E1621;
    -fx-padding: 2px;
}
