.scroll-bar:horizontal .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

 .scroll-bar:horizontal .increment-arrow,
 .scroll-bar:horizontal .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}


.scroll-bar:horizontal .thumb {
    -fx-background-color :transparent;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color :transparent;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .track{
    -fx-background-color :#202B36;
    -fx-border-color :#202B36;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 2.0 0.0 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}


.scroll-bar:vertical .thumb {
    -fx-background-color :rgb(44, 59, 75);
    -fx-background-radius : 1.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :rgb(44, 59, 75);
    -fx-background-radius : 1.0em;
}